# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
 
*.tflite
*.npz

# Virtual environments
venv/
ENV/
env/
.venv/
*.egg-info/

# Jupyter/IPython
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VSCode & IDE settings
.vscode/
.idea/

# Flask uploads/logs
instance/
*.log
*.sqlite3
static/uploads/*

# Render/Vercel deployment
.vercel/
render.yaml  # keep if private, or remove this line if you want to track it

# Git
*.swp
